<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Layouts/layout" th:with="displayFooter=false, className=${className}, modelId=${modelId}, generationId=${generationId}, categoryId=${categoryId}">
	<head>
		<script th:inline="javascript">
			var arrayCart = JSON.parse([[${arrayCart}]]);
			var arrayCharge = JSON.parse([[${arrayCharge}]]);
		</script>
	</head>
	<body>
		<!-- /* Content of this page will be decorated by the elements of layout.html (Layouts/layout) */ -->
		<th:block layout:fragment="content">
			<article class="head">
				<nav class="topicpath">
					<ul>
						<li class="top"><a th:href="@{/index}">TOP</a></li>
						<li class="item"><a th:href="@{/item(model_id=${modelId},generation_id=${generationId},ctg=${categoryId})}">アクセサリー一覧</a></li>
						<li class="campaign"><a th:href="@{/campaign(model_id=${modelId},generation_id=${generationId},ctg=${categoryId})}">キャンペーン</a></li>
						<li class="item current"><span>お見積り</span></li>
						<li class="model"><span class="name"><b th:text="${modelName}"></b></span><span class="type" th:text="${modelType}"></span></li>
					</ul>
				</nav>
				<div class="wrap">
					<section class="cart_list" id="cart_list" name="cart_list">
						<h2>お見積もりの結果</h2>
						<div class="button_area">
							<button type="button" class="mail" th:attr="data-url=@{/sendmail}">メール</button>
							<button type="button" class="save" th:attr="data-url=@{/sendmail}">保存</button>
						</div>
						<div class="serial">
							<span class="label">見積番号：</span>
							<span class="number"><b th:text="${estimateNumber}"></b></span>
							<input id="hidEstimateNumber" type="hidden" th:value="${estimateNumber}"></input>
							<input id="hidUrlPrint" type="hidden" th:value="@{/print/autologin(quotationumber = ${estimateNumber}, account = ${account}, password = ${password})}"></input>
							<input id="hidTaxId" type="hidden" th:value="${objTax?.getId()}"></input>
							<input id="hidTaxValue" type="hidden" th:value="${objTax?.getTax()}"></input>
						</div>
					</section>
				</div>
			</article>
			<article class="main">
				<div class="wrap">
					<section class="cart_list">
						<ul></ul>
					</section>
					<section class="charge">
						<div class="paint">
							<span class="label">塗装費:</span>
							<input type="text" class="price" value="" placeholder="金額を入力">
						</div>
						<div class="discount">
							<span class="label">値引き:</span>
							<input type="text" class="price discount_price" value="" placeholder="金額を入力">
						</div>
						<div class="memo">
							<input type="text" class="text" value="" maxlength="100" placeholder="特記事項">
						</div>
					</section>
					<section class="subtotal">
						<div class="net">
							<span class="label">小計</span>
							<span class="price">0</span>
						</div>
						<div class="tax">
							<span class="label">消費税（<span class="tax" th:text="${objTax.getTax()!=null?#numbers.formatInteger(objTax.getTax() *100,0):0}"></span>%）</span>
							<span class="price">0</span>
						</div>
					</section>
					<section class="total">
						<div class="all">
							<span class="label">合計</span>
							<span class="price">0</span>
						</div>
					</section>
				</div>
			</article>
		</th:block>
	</body>
</html>
