@charset "UTF-8";
/* CSS Document */

.login_wrapper .main {
	position: relative;
	top: auto;
}

.form {
	width: 80%;
	max-width: 400px;
		margin: 200px auto;
}
.form fieldset {
	padding-bottom: 25px;
}
.form input[type="text"],
.form input[type="password"] {
	width: 100%;
	height: 42px;
	padding: 10px 15px;
	background-color: #CFDDED;
	border: none;
	border-radius: 3px;
	font-size: 16px;
}
.form input[type="text"]::-webkit-input-placeholder,
.form input[type="password"]::-webkit-input-placeholder {
	color: #FFF;
}
.form fieldset.button_area {
	text-align: center;
}
.form button,
.form .button {
	display: inline-block;
	width: 40%;
	max-width: 160px;
	height: 42px;
	margin: 0 2%;
	background-color: #0C5CB5;
	border-radius: 3px;
	text-align: center;
	font-size: 13px;
	line-height: 42px;
	vertical-align: middle;
	color: #FFF;
}
.form a.link {
	display: block;
	width: 100%;
	height: 30px;
	text-align: center;
	text-decoration: underline;
	line-height: 30px;
	font-size: 14px;
}
.form .message {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	padding: 12px 15px 10px;
	background-color: #FDF3F5;
	border: none;
	border-radius: 3px;
	overflow: visible;
	font-size: 14px;
	line-height: 1.5;
	color: #D01;
}
.form .message:after {
	content: '';
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	border: 10px solid transparent;
	border-top: 10px solid #FDF3F5;
}
.form .message:empty {
	display: none;
}